body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    background-image: url(./img/wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    z-index: -1;
}

h1 {
    color: #ffffff; 
    font-size: 2em;
    margin-bottom: 20px;
}

label{
    padding: 10x;
}

table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    background-color: #1e1e1e;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(80, 200, 120, 0.5);
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #9b1985;
}

th {
    background-color: #9b1985;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

td {
    font-size: 1.1em;
}

select {
    padding: 8px;
    font-size: 1em;
    border: 2px solid #9b1985;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: white;
    cursor: pointer;
}

select:hover {
    border-color: #3ea76d;
}

select:focus {
    outline: none;
    border-color: #9b1985;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

footer {
    width: 100%;
    background-color: #9b1985;
    padding: 10px;
    text-align: center;
  }
  footer span {
    color: #fff;
    font-size: 0.8em;
    font-weight: 500;
  }
